<footer class="navbar navbar-default footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="https://github.com/dorukgezici/ituscheduler-go" target="_blank">
          <span class="copyleft">&copy;</span> Copyleft 2018 | ITUscheduler</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/privacy-policy">Privacy Policy</a></li>
    </ul>
  </div>
</footer>

<style>
  .footer {
    margin: auto 0 0;
    text-align: center;
  }

  .footer > .container {
    background-color: #2c3e50;
  }

  .copyleft {
    display: inline-block;
    transform: rotate(180deg);
  }
</style>
