---
import Menu from "@/components/Menu";
import { serverComponentClient } from "@/lib/supabaseClient";
import { cn } from "@/lib/utils";

const supabase = serverComponentClient(Astro.cookies);
const {
  data: { user },
} = await supabase.auth.getUser();
---

<header class="bg-background sticky top-0 z-40 w-full border-b">
  <div class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0">
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <img src="/static/icons/bee-transparent-white.png" alt="ITU Scheduler logo" class="h-6 w-6" />
        <span class="hidden sm:inline-block font-bold">ITU Scheduler</span>
      </a>
      <nav class="flex gap-6">
        <a href="/" class={cn("flex items-center text-sm font-medium text-muted-foreground")}>Home</a>
        <a href="/courses" class={cn("flex items-center text-sm font-medium text-muted-foreground")}>Courses</a>
        <a href="/info" class={cn("flex items-center text-sm font-medium text-muted-foreground")}>Info</a>
      </nav>
    </div>

    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
        <Menu user={user} />
      </nav>
    </div>
  </div>
</header>
