---
import AuthCard from "@/components/AuthCard";
import Layout from "@/layouts/Layout.astro";
import { serverClient } from "@/lib/supabase";

const supabase = serverClient(Astro);
const {
  data: { session },
} = await supabase.auth.getSession();
if (session?.user) return Astro.redirect("/");
---

<Layout title="Login | ITU Scheduler">
  <div class="grid place-items-center h-[75vh]">
    <AuthCard site={Astro.site} client:only="react" />
  </div>
</Layout>
