---
import AuthCard from "@/components/AuthCard";
import MyCourses from "@/components/MyCourses";
import MySchedule from "@/components/MySchedule";
import ScheduleTable from "@/components/ScheduleTable";
import Layout from "@/layouts/Layout.astro";
import { serverComponentClient } from "@/lib/supabaseClient";

const supabase = serverComponentClient(Astro.cookies);
const {
  data: { session },
} = await supabase.auth.getSession();
const user = session?.user;

const { data: schedules } = await supabase
  .from("schedules")
  .select()
  .eq("user_id", user?.id ?? "0");
---

<Layout title="ITU Scheduler">
  <div class="container grid place-items-center pb-8 pt-6 md:py-10 gap-6 md:gap-24">
    {
      user ? (
        <section class="w-full min-w-none max-w-none">
          <MyCourses user={user} client:load />
        </section>
      ) : (
        <section class="flex flex-wrap gap-y-10">
          <div class="flex flex-col items-start md:w-2/3 gap-4">
            <h1 class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl">
              Welcome to ITU Scheduler!
            </h1>
            <p class="md:max-w-[700px] text-lg text-muted-foreground">
              ITUscheduler is an{" "}
              <a href="https://github.com/dorukgezici/ituscheduler-go" target="_blank">
                {" "}
                open-source
              </a>
              web application that allows Istanbul Technical University students to browse up-to-date & detailed
              information about courses and create schedules with ease. It has features like course queries according to
              days, notifying the user if a course is removed from SIS, exporting the schedule and so on. We also have
              some features planned like automatic schedule generation, displaying data from previous years,
              prerequisite checking, etc..
            </p>
          </div>
          <div class="md:w-1/3">
            <AuthCard site={Astro.site} client:only="react" />
          </div>
        </section>
      )
    }

    <section class="w-full overflow-auto">
      {user && <MySchedule schedules={schedules} client:load />}
      <ScheduleTable schedules={schedules} client:load />
    </section>
  </div>
</Layout>
