---
import SupabaseAuth from "@/components/SupabaseAuth";
import Layout from "@/layouts/Layout.astro";
import { serverComponentClient } from "@/lib/supabaseClient";

const supabase = serverComponentClient(Astro.cookies);
const {
  data: { session },
} = await supabase.auth.getSession();
if (session) return Astro.redirect("/");
---

<Layout title="Login | ITU Scheduler">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 card-bg">
        <SupabaseAuth site={Astro.site} client:load />
      </div>
    </div>
  </div>
</Layout>
