<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>{{ block "title" . }}ITU Scheduler{{ end }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://unpkg.com/daisyui@3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="app">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/api">
          ITU Scheduler Admin
        </a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          {{ if .User.ID }}
            <li><a href="/api/logout">Logout | {{ .User.Username }}</a></li>
          {{ else }}
            <li><a href="/api/login">Login</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ block "body" . }}{{ end }}
    {{ block "script" . }}{{ end }}
  </body>
</html>
