{{ template "base.gohtml" . }}

{{ define "title" }}Admin Dashboard | ITU Scheduler{{ end }}

{{ define "body" }}
  <main class="flex flex-col items-center py-12 gap-4">
    <h2 class="text-3xl">Welcome, {{ .User.Username }}</h2>
    <ul class="menu menu-horizontal px-1">
      <li><a href="/api/refresh-majors">Refresh Majors</a></li>
      <li><a href="/api/refresh-courses">Refresh Courses</a></li>
    </ul>
  </main>
{{ end }}
